{% extends 'base.html' %}

{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <div class="profile-section">
        <img src="{% static 'images/55.webp' %}" alt="Jonathan Davies" class="profile-picture">
    </div>
    <div class="about-details">
        <p>Unlike traditional online schools, we teach in an innovative manner through real-life situational contexts. We also focus on learning through gaming and exploration. All our teaching staff are highly qualified and professional. We also offer the ability for a student to upload any assignments so they are checked and improved. We specialize in IELTS, TOEFL, and ALL examination boards. We know the tricks of the trade to ensure our students reach their full potential.</p>
        <p>Come join us and learn and keep learning!</p>
    </div>
</div>
{% endblock %}