/* Base Styles */
.container {
    background-color: #fff;
    padding: 20px; /* Adjusted padding for a tighter fit */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 10px 0 10px 5px; /* Set left margin to 5px and auto for right */
    text-align: center;
}

/* Profile Section */
.profile-section {
    margin-bottom: 20px;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-bottom: 15px; /* Reduced spacing for better fit */
}

/* About Details */
.about-details {
    text-align: left;
    margin-top: 15px;
}

.about-details p {
    margin-bottom: 12px;
    line-height: 1.5;
    color: #333;
}

/* Responsive Styles for Small Devices */
@media (max-width: 768px) {
    .container {
        padding: 10px;
        margin: 10px auto; /* Center the container horizontally */
        max-width: 800px; /* Keep the max-width */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: flex; /* Use flexbox to center content */
        flex-direction: column; /* Stack children vertically */
        align-items: center; /* Center children horizontally */
    }

    .profile-picture {
        width: 90px;
        height: 90px;
    }

    .about-details p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}
